/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));


/* Définition des variables light/dark */
:root {
  --background: 0 0% 100%;      /* white */
  --foreground: 222.2 84% 4.9%; /* presque noir */
  --primary:   221.2 83.2% 53.3%;
  --muted:     210 40% 96.1%;


  /* Ajoute tes autres variables... */
}

.dark {
  --background: 222.2 84% 4.9%; /* très sombre */
  --foreground: 0 0% 98%;       /* presque blanc */
  --primary:   217.2 91.2% 59.8%;
  --muted:     217.2 32.6% 17.5%;
  --ink-black:       #e8ebfd;
}

/* Option : respect automatique des préférences système */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {           /* sauf si l'utilisateur force light */
    --background: 222.2 84% 4.9%; /* très sombre */
    --foreground: 0 0% 98%;       /* presque blanc */
    --primary:   217.2 91.2% 59.8%;
    --muted:     217.2 32.6% 17.5%;
  }
}

.light {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}




